#page-wrap {
    box-sizing: border-box;
}

.menu {
    top: 0;
    width: 100%;
    display: inline-block;
    background-color: black;
    color: goldenrod;
    position: relative;
    z-index: 1000;
}

  
.main-header {
    margin-left: 0;
    width: 100%;
    background: linear-gradient(0deg, red, gold);
    text-align: center;
    position: relative;
    z-index: 1000;
}

.clearfix {
    overflow: auto;
}

nav ul {
    margin-left: 0;
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 20px;
    flex-wrap: wrap;
}

.subtitle {
    font-size: 20px;
}

.top-floor {
    display: flex;
    justify-content: flex-start;
}

#YinYangexp {
    position: relative;
    padding-top: 10px;
    flex: 1;
    background-color: lightblue;
    margin-right: 10px;
}

.headline {
    padding-left: 10px;
}

#placeimage {
    float:left;
    z-index: 1;
}

#taichifam {
    position: relative;
    padding-top: 10px;
    flex: 1;
    background-color: lightgreen;
    margin-right: 10px;
}

#saferules {
    position: relative;
    padding-top: 10px;
    flex: 1;
    background-color: lightcoral;
}

#top-neighbor {
    display: inline block;
}

.secondfloor {
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
}

#warmup {
    flex: 1;
    background-color: lightblue;
    margin-right: 10px;
}

#walk {
    flex: 1;
    background-color: lightgreen;
    flex-wrap: wrap;
}

.thirdfloor {
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
}

#thebox {
    flex: 1;
    background-color: lightblue;
    margin-right: 10px;
}

#thebox button {
    display: none;
}

#thesixteen {
    flex: 1;
    background-color: lightgreen;
    flex-wrap: wrap;
}

#thesixteen button {
    display: none;
}

footer {
    background-color: black;
    color: goldenrod;
   
}

#downloads {
    display: flex;
    padding-bottom: 0;
}

.videoex  {
    padding-top: 0;
    display: inline-flex;
    margin-left: 15px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/* Media Queries */

/* Smartphones (portrait and landscape) ----------- */
/*@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {*/
   
   
    @media (max-width : 480px) {
    #itema {
        display: none;
    }

    #thebox button {
        display: block;
    }

    button {
        display: inline-block;
        border: none;
        padding: 1rem 2rem;
        margin: 0;
        text-decoration: none;
        background: #0069ed;
        color: #ffffff;
        font-family: sans-serif;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out, 
                    transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;
        border-radius: 25px;
    }
    
    button:hover,
    button:focus {
        background: #0053ba;
    }
    
    button:focus {
        outline: 1px solid #fff;
        outline-offset: -4px;
    }
    
    button:active {
        transform: scale(0.99);
    }

    #thesixteen {
        flex-wrap: wrap;
    }

    #thesixteen ol {
        display:none;
    }

    #thesixteen button {
        display: block;
    }

}

/* iPads (portrait and landscape) ----------- 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  
}*/